
<canvas id="base" class="chart-bar"
    chart-data="data" chart-labels="labels" chart-colors="colors"
    chart-dataset-override="datasetOverride" height=100>
</canvas> 
<!--
 <test1 attribute-click-param="ho ho"></test1>
-->
<!--
<my-dom-directive canvas-Id="blah"></my-dom-directive> 




<div class="dropdown-list">
    <button class="button">Dropdown2</button>
    <ul>
        <li><a ng-click="dropdownMessage(1)">Menu Item 1</a></li>
        <li><a ng-click="dropdownMessage(2)">Menu Item 2</a></li>
        <li><a ng-click="dropdownMessage(3)">Menu Item 3</a></li>
        <li><a ng-click="dropdownMessage(4)">Menu Item 4</a></li>
    </ul>
</div>
-->

<my-download-directive></my-download-directive>


